.heading{
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    padding-bottom: 3%;
    text-align: center;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    z-index: 2;
    position: center;
    display: block;
}

a{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    color: black;
    text-decoration:none;
    box-shadow: 5px 5px 5px black;

}

a:visited {
    color: black;
    display: block;
}

a:hover{
        background-color: ghostwhite;
        border:solid;
        box-shadow: 1px 1px 1px black;
}

body{
background-image: url(./images/computerImg.jpeg);
     background-size: cover;
     margin: 0
}

    #footer{
        background:black;
        color: aliceblue;
        position:fixed;
        text-align: center;
        bottom:0;
        width:100%;
        z-index:4;
        display:block;
        height:15px;
        padding-bottom: 11px;
        padding-top: 8px;
        padding-right: 100px;
    }
#home{
    padding-top: 200px;
    text-align: center
}
#title{
    font-size: 80px;
    line-height: 100%;
}
#information{
    list-style-type: none;
}
#info2{
margin-left: 5%;
margin-right: 5%;
}

.info{
    display: block;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-style: oblique;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    color: aliceblue;
    background-color: rgba(0,0,0,0.2);
}

.logos{
    width: 33%;
    float: left;
    padding-top: 2%;
}

.logoImage{
    height: 100px;
    width: 100px;
    clear: left;
}

.large{
    width: 200px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 5px 5px 18px black;
    font-weight: bold;
    display: inline-block;
}
.midtext{
    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    display: block;
    margin-top: 26%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 7%;
    padding-right: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.top{
border-bottom:15px;
    background-color: black;
    color: aliceblue;
}
span{
    padding-right: 10px;
    padding-left: 10px;
}
.inside {
    list-style: none;
    display: none;
    position: absolute;
    text-align: center;
     margin-left: -3.5em;
    padding-top: 0.5em;
}

.outer:hover .inside li a{
    display:block;
    margin-top: 5px;
}
.outer:hover .inside{
    display: block;
}
li.outer {
    list-style: none;
    display: inline-block;
}
