*{
  margin:0;
  padding: 0;
}
.topPart{
  background-color: red;
}

.lowerPart{
  background-color: #2d87c6;
}

#frownyImg{
  height: 30%;
  width:5%;
}

.heading{
    color: aliceblue;
    text-align: right;
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    z-index: 2;
    float: right;
    display: block;
}

a{
    background-color: none;
    border-radius: 10px;
    padding: 5px;
    color: none;
    text-decoration:none;
    box-shadow: 5px 5px 5px black;

}

a:visited {
    color: black;
    display: block;
}

a:hover{
        background-color: none;
        border:solid;
        box-shadow: 1px 1px 1px black;
}
li.outer {
    list-style: none;
    display: inline-block;
}
